@font-face {
    font-family: 'Inter';
    font-weight: normal;
    src: url('/assets/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: bold;
    src: url('/assets/Inter-Bold.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Inter', 'Overpass', 'Dosis', Arial, Helvetica, sans-serif !important;
    user-select: none;
}

html.dark {
    --bg: #181818;
    --bg-op: #181818ad;
    --text: #dfdfdf;
    --fg-bg: #1e1e1e;
    --fg-bg-op: #25252584;
    --bd: #3a3a3a;
    --li-hv: #212121;
    --logo: 0.9;
    --switch: #3d3d3d;
    --hl: #252525;
}

html.light {
    --bg: #e9e9e9;
    --bg-op: #a6a6a633;
    --text: #3d3d3d;
    --fg-bg: #ffffff;
    --fg-bg-op: #ffffff84;
    --bd: #b4b4b4;
    --li-hv: #dddddd;
    --logo: 0.25;
    --switch: #cccccc;
}

html.firetail {
    --hl-txt: #eb6e64;
    --hl-op: #eb6e641a;
    --gradient1: #e74e8e;
    --gradient2: #ef9135;
}

::-webkit-scrollbar {
    width: 13px !important;
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    border: solid 5px var(--bg);
    background: var(--bd);
}

::-webkit-scrollbar-button {
    display: none
}

::selection {
    background: var(--hl-txt);
}

::-moz-selection {
    background: var(--hl-txt);
}

/* Sidebar */
.sidebar {
    width: 235px;
    height: 100%;
    border-right: solid 2px var(--bd);
    position: fixed;
    background-color: var(--fg-bg-op);
    z-index: 2;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, .15);
    overflow: hidden;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.np-top {
    width: calc(100% - 237px);
    height: 85px;
    border-bottom: solid 2px var(--bd);
    position: fixed;
    background-color: var(--fg-bg-op);
    -webkit-backdrop-filter: saturate(50%) blur(20px);
    backdrop-filter: saturate(50%) blur(20px);
    margin-left: 237px;
    z-index: 2;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .15);
}

.main-ui {
    position: relative;
    width: calc(100% - 237px);
    height: calc(100% - 86px);
    padding: 87px 0 0 237px;
}

.top-title {
    padding: 40px;
    display: flex;
    align-items: center;
}

.top-title h1 {
    font-size: 42px;
    margin: 0;
}

.ft-brand {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 25px;
}

.ft-logo {
    min-width: 40px;
    min-height: 40px;
    background-image: url('/assets/firetail-menu.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    filter: brightness(var(--logo));
}

.ft-brand span {
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
}

.tab-container {
    width: 100%;
    height: 100%;
}

.list-container {

}

.results-link {
    border-bottom: 1px solid var(--bd);
    background: var(--bg);
    overflow: hidden;
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;
    transition: .25s;
    transition-property: margin-left;
}

li:hover {
    background: var(--li-hv);
}

li.nohover:hover {
    background: none;
}

.artist-title-album {
    display: flex;
    width: calc(100% - 30px);
    font-size: 14px;
    align-items: center;
    pointer-events: none;
}

.list-title {
    margin: 0;
    margin-left: 14px;
    width: calc(40% - 40px);
    padding-right: 40px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 9px 0;
    pointer-events: none;
    white-space: nowrap;
}

.list-artist,
.list-album,
.list-duration {
    width: calc(30% - 85px);
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 9px 0;
    padding-right: 40px;
    pointer-events: none;
    white-space: nowrap;
}

.list-duration {
    width: 85px;
    text-align: right;
}

.list-artist span, .list-album span {
    pointer-events: all;
}

.list-artist span:hover, .list-album span:hover {
    color: var(--hl-txt);
    text-decoration: underline;
    cursor: pointer;
}

.list-artist span:active, .list-album span:active {
    color: var(--hl-txt);
    text-decoration: underline;
    opacity: .8;
}

.play-pause {
    font-size: 24px !important;
    padding: 0;
    padding-left: 7px;
    cursor: pointer;
    opacity: 0;
}

.play-pause:hover {
    opacity: .65 !important;
    color: var(--hl-txt) !important;
    transform: scale(1.2);
}

.results-link.active {
    color: var(--hl-txt);
}

.list-section {
    overflow: hidden;
    height: 30px;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 3;
    background: var(--bg);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: solid 1px var(--bd);
}

.list-section .list-artist:hover, .list-section .list-album:hover, .list-section .list-duration:hover {
    color: var(--text);
    text-decoration: none;
    cursor: default;
    opacity: 1;
}

.list-section .list-artist:active, .list-section .list-album:active, .list-section .list-duration:active {
    color: var(--text);
    text-decoration: none;
    opacity: 1;
}

div.section {
    font-size: 12px;
    opacity: .75;
}

/* Now Playing */
.np-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85px;
}

.controls-middle {
    width: 40%;
    height: 85px;
    background: var(--bg-op);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.controls-right {
    width: 30%;
    height: 100%;
}

.np-ctrls {
    display: flex;
    flex-direction: column;
    width: calc(100% - 85px);
    height: 100%;
}

.np-img {
    min-height: 85px;
    min-width: 85px;
    background-image: url('/assets/no_image.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 0.2s;
}

.np-ctrl {
    width: 100%;
}

.np-ctrl.metadata {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    transform: translateY(12px);
    margin: 0px 30px;
    width: calc(100% - 60px);
}

.np-ctrl.seek {
    height: 4px;
    width: 95%;
    bottom: 0;
    padding: 7px 0;
}

.seek-bar {
    width: 100%;
    height: 4px;
    background: var(--bd);
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.song-timer {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    font-size: 11px;
    align-items: center;
}

.seek-container {
    display: flex;
    justify-content: center;
}

.fill {
    height: 4px;
    background: linear-gradient(to right, var(--gradient1), var(--gradient2));
    transition: cubic-bezier(0, 1, 0.35, 1) .25s;
    width: 50%;
    border-radius: 10px;
}

.handle {
    width: 0px;
    height: 0px;
    background: var(--gradient2);
    border-radius: 11111px;
    margin-left: -5px;
    transform: scale(1.5);
    transition: all .1s;
}

.handle-hover {
    width: 7px !important;
    height: 7px !important;
    transition: all .1s !important;
}

.np-ctrl.metadata p {
    margin: 3px 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song-title {
    font-weight: bold;
}

.song-artist {
    opacity: .75;
    font-size: 12px;
}

.controls-left {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-controls {
    display: flex;
    align-items: center;
}

.media-controls i {
    font-size: 36px;
    padding: 5px;
    cursor: pointer;
}

.media-controls i.small-icon {
    font-size: 22px;
}

.media-controls i:hover {
    opacity: .65;
}

.media-controls i:active {
    opacity: .35;
}

.media-controls i.active {
    color: var(--hl-txt);
    background: var(--hl-op);
    border-radius: 100px;
}

/* Sidebar */
.sidebar-wrap {
    width: 100%;
}

.side-item {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.side-item.active, .side-list-item.active {
    color: var(--hl-txt);
    font-weight: bold;
}

.side-item i {
    margin: 0 20px;
    pointer-events: none;
}

.side-item span {
    pointer-events: none;
}

.side-label {
    margin: 25px 20px 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: .75;
}

.active-indicator {
    height: 45px;
    width: 3px;
    background: var(--hl-txt);
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    transition: cubic-bezier(0, 1, 0.35, 1) .25s;
    top: 85px;
}

.side-item:hover, .side-list-item:hover, .album-item:hover, .artist-item:hover {
    opacity: .65;
}

.side-item:active, .side-list-item:active, .album-item:active, .artist-item:active {
    opacity: .35;
}

.side-list-item {
    padding-left: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.side-list-item div {
    pointer-events: none;
}

.add-playlist {
    position: fixed;
    bottom: 0;
    padding: 15px 0px;
    width: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--fg-bg-op);
    border-top: solid 1px var(--bd);
    backdrop-filter: saturate(50%) blur(20px);
}

.playlist-items-container {
    margin-bottom: 60px;
}

@media (hover: none) {
    li:hover {
        background: none;
    }
}

@media (backdrop-filter: none) {
    .np-top {
        background: var(--fg-bg) !important;
    }
}

/* Home */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* No tab */

.no-tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

i.missing-icon {
    font-size: 154px;
    margin-right: 50px;
}

.mobile-top-bar {
    display: none;
}

.np-mobile-container {
    display: none;
}

.mobile-top-btns {
    display: none;
}

.tab-album-art {
    margin-right: 40px;
    height: 125px;
    width: 125px;
    background-color: var(--fg-bg);
    background-image: url('assets/no_album.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    display: none;
}

.top-title i {
    font-size: 36px;
    display: none;
    margin-right: 40px;
}

/* albums & artists */

.album-tab, .artist-tab {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 35px;
}

.artist-item {
    width: 160px;
    height: 50px;
    background: var(--fg-bg);
    border-radius: 10px;
    border: solid 2px var(--bd);
    box-shadow: 0px 1px 5px rgba(0,0,0,.15);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 10px;
    margin: 10px;
    cursor: pointer;
}

.album-item {
    width: 265px;
    height: 75px;
    background: var(--fg-bg);
    border-radius: 10px;
    border: solid 2px var(--bd);
    box-shadow: 0px 1px 5px rgba(0,0,0,.15);
    display: flex;
    align-items: center;
    padding: 0px 10px;
    margin: 10px;
    cursor: pointer;
}

.album-item-art {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    margin-right: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.25s;
    pointer-events: none;
}

.album-info, .artist-item p {
    pointer-events: none;
}

.artist-item p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.album-name {
    width: 190px;
    margin: 8px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.album-artist {
    width: 190px;
    margin: 8px 0px;
    opacity: 0.75;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* popup */
.popup {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.4);
    z-index: 4;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
}

.popup.open {
    animation: popup-bg-open .2s;
    opacity: 1;
    pointer-events: all;
}

@keyframes popup-bg-open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popup.hidden {
    animation: popup-bg-close .2s;
    opacity: 0;
    pointer-events: none;
}

@keyframes popup-bg-close {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.popup-win {
    width: 540px;
    height: 340px;
    border: solid 2px var(--bd);
    border-radius: 20px;
    background: var(--bg);
    box-shadow: 0 1px 10px rgba(0,0,0,.15);
    overflow: hidden;
    animation: popup-appear cubic-bezier(0, 1, 0.35, 1) .5s;
}

@keyframes popup-appear {
    from {
        transform: scale(0.9)
    }
    to {
        transform: scale(1);
    }
}

.popup-win.hidden {
    animation: popup-disappear cubic-bezier(0, 1, 0.35, 1) .5s;
}

@keyframes popup-disappear {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.95);
    }
}

.popup-win .title {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h3 {
    width: 40%;
    text-align: center;
}

.title i {
    font-size: 26px;
    margin-right: 15px;
    text-align: right;
    cursor: pointer;
}

.title i:hover {
    color: var(--hl-txt);
    transform: scale(1.2);
}

.popup-content {
    padding: 10px;
    height: calc(100% - 80px);
    overflow: hidden;
    overflow-y: auto;
}

.button-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    transform: translateX(-10px);
}

.button {
    padding: 10px 20px;
    color: var(--hl-txt);
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button:hover {
    background: var(--hl-op);
}

.button:active {
    opacity: .8;
    background: var(--hl-op);
}

.button span {
    margin-top: 2px
}

.button i {
    margin-right: 10px;
}

/* playlist create popup */
.playlist-create-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist-create-img {
    width: 135px;
    height: 135px;
    background-image: url('../assets/no_album.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--fg-bg);
    border-radius: 5px;
    margin-right: 40px;
}

.playlist-image-label {
    position: absolute;
    background: #00000075;
    width: 135px;
    height: 135px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0;
    cursor: pointer;
}

.playlist-image-label:hover {
    opacity: 1;
}

.popup-content input[type="text"], .popup-content textarea {
    background: var(--fg-bg);
    color: var(--text);
    font-family: 'Inter', 'Overpass';
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    outline-color: var(--hl-txt);
    font-size: 14px;
    width: 245px;
    outline: none;
}

.popup-content textarea {
    resize: none;
    height: 80px;
}

.popup-content input[type="text"]:not(:last-child), .popup-content textarea:not(:last-child) {
    margin-bottom: 20px;
}

.popup-content input[type="text"]:focus, .popup-content textarea:focus {
    outline: solid 2px var(--hl-txt);
}

.input-label {
    font-size: 12px;
    margin: 5px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: .8;
}

.long-text {
    height: 120px;
}

.addPl-item {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.addPl-item:hover {
    background-color: var(--li-hv);
}

.addPl-item:active {
    background-color: var(--li-hv);
    opacity: .8;
}

.addPl-item:not(:last-child) {
    border-bottom: solid 1px var(--bd);
}

.addPl-img {
    background-color: var(--fg-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    margin-right: 20px;
}

/* Context menu */
.context-menu {
    display: none;
    position: fixed;
    z-index: 10;
    min-width: 150px;
    height: auto;
    background: var(--fg-bg);
    border: 2px solid var(--bd);
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,.15);
    overflow: hidden;
}

.context-list {
    display: flex;
    width: auto;
    flex-flow: column;
}

.context-item {
    width: auto;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    padding: 7px 10px;
    vertical-align: middle;
    cursor: pointer;
}

.context-item:hover {
    background: var(--hl);
}

.context-separator {
    width: auto;
    border: 1px solid var(--bd);
    margin-top: 5px;
}

.highlight {
    background: var(--hl) !important;
}