<!DOCTYPE html>
<html lang="en" class="dark firetail">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="mobile.css">
    <script src="/frameworks/vue.js"></script>
    <script src="/frameworks/vue-async-computed.js"></script>
    <link href="/assets/material/material-icons.css" rel="stylesheet">
    <title>Firetail Web</title>
</head>
<body style="overflow:hidden">
    <input type="file" id="addPlaylistImage" accept="image/*" style="display: none">
    <div class="cover" style="transition:.25s;transition-property:opacity;width: 100%;height: 100%;position: fixed;z-index: 10;background: linear-gradient(#e74e8e, #ef9135);display: flex;justify-content: center;align-items: center;">
        <!-- generated svg, slightly modified -->
        <svg style="width:150px;height:150px;" viewBox="0 0 1080 1080">
            <style type="text/css">
                .st0{fill:none;stroke:#221f1f;stroke-width:55;}
                .st1{fill:none;stroke:#221f1f;stroke-width:55;stroke-miterlimit:10;}
            </style>
            <path class="st0" d="M653.4,462.8c-57.9-50-115.1-163.8-138.3-268.2c-42.6,37.6-109.4,138.7-97.3,281.5"/>
            <g>
                <path class="st1" d="M299.9,861.7c-28.6-18.9-51.1-40.6-51.1-40.6c-19.1-18.4-33-36-42.5-49.5l0,0
                    c133.7,18.1,198.3-24.1,221.3-42.4c18.6-14.7,39.2-37,59-58.4c41.9-45.2,66.7-80.1,85.7-105.6C659.3,448.8,705,400.8,745.2,386.6
                    c68.6-24.3,117,32,160.2,53.6c0,0,0.2,0.1,0.2,0.1c-0.2,0.1-0.5,0.4-0.8,0.7c-39.6,35.1-56.8,104.8-63.9,179.3
                    C830.4,731.4,764,824.2,670,884.3c-58.4,37.3-123.4,58.6-184.3,52.4C401.4,928,306.3,865.9,299.9,861.7z"/>
            </g>
            <path class="st1" d="M152.8,211.5"/>
            <path class="st1" d="M450.4,710.8c-332.9,7.1-254.1-463.4-254.1-463.4c39.2,59.5,53.8,76.5,83.5,112.9c56.5,69,95.3,84.4,151.3,119.1c11.6,7.2,28.8,17.1,53.3,34.7c35.1,25.1,61.5,49,78.7,65.6"/>
        </svg>
    </div>
    <div class="popup">
        <div class="popup-win hidden">
            <div class="title">
                <div style="width: 35%"></div>
                <h3 v-bind:title="title">{{title}}</h3>
                <div style="width: 35%; text-align: right">
                    <i v-on:click="closePopup" class="material-icons-outlined">close</i>
                </div>
            </div>
            <div class="popup-content"></div>
        </div>
    </div>
    <div class="app">
        <div class="context-menu">
            <div class="context-list">
                <ctx-item v-for="item in ctxList" v-bind:list="item" v-bind:key="item.id"></ctx-item>
            </div>
        </div>
        <div class="mobile-top-bar">
            <i class="material-icons-outlined #openMenu">menu</i>
            <div class="ft-logo"></div>
        </div>
        <div class="sidebar">
            <div class="ft-brand">
                <div class="ft-logo"></div>
                <span>Firetail</span>
            </div>
            <div class="temp-sidebar"></div>
            <div class="playlist-items-container">
                <playlist-items v-for="item in listItems" v-bind:plitem="item" v-bind:id="item.id"></playlist-items>
            </div>
            <div v-on:click="open" class="add-playlist">
                <i class="material-icons-outlined">playlist_add</i>
                <span style="margin-left: 10px">Add Playlist</span>
            </div>
        </div>
        <div class="np-top">
            <div class="np-mobile-container">
                <div class="np-mobile-btn" v-on:click="expand">
                    <i class="material-icons-outlined">expand_less</i>
                </div>
                <div class="np-mobile-metadata" v-on:click="expand">
                    <p class="song-title">{{title}}</p>
                    <p class="song-artist">{{artist}}</p>
                </div>
                <div class="np-mobile-btn" v-on:click="playPause">
                    <i class="material-icons-outlined">play_arrow</i>
                </div>
            </div>
            <div class="np-container">
                <div class="controls-left">
                    <div class="media-controls">
                        <i v-on:click="shuffle($event)" class="material-icons-outlined small-icon">shuffle</i>
                        <i v-on:click="prev" class="material-icons-outlined">skip_previous</i>
                        <i v-on:click="playPause" class="material-icons-outlined">{{ playPauseIcon }}</i>
                        <i v-on:click="skip" class="material-icons-outlined">skip_next</i>
                        <i v-on:click="repeat($event)" class="material-icons-outlined small-icon">repeat</i>
                    </div>
                </div>
                <div class="controls-middle">
                    <div class="mobile-top-btns">
                        <div class="np-mobile-btn" v-on:click="hide">
                            <i class="material-icons-outlined">expand_more</i>
                        </div>
                        <p>yeah!</p>
                        <div class="np-mobile-btn">
                            <i class="material-icons-outlined">more_horiz</i>
                        </div>
                    </div>
                    <div v-bind:style="bg" class="np-img"></div>
                    <div class="np-ctrls">
                        <div class="np-ctrl metadata">
                            <p class="song-title">{{title}}</p>
                            <p class="song-artist">{{artist}}</p>
                        </div>
                        <div class="song-timer">
                            <span>{{current}}</span>
                            <span>{{duration}}</span>
                        </div>
                        <div class="seek-container">
                            <seek-bar></seek-bar>
                        </div>
                    </div>
                </div>
                <div class="controls-right"></div>
            </div>
        </div>
        <div class="main-ui">
            <div class="top-title">
                <i class="material-icons-outlined" id="tabBackButton">arrow_back</i>
                <div class="tab-album-art"></div>
                <h1>{{title}}</h1>
            </div>
            <div class="tab-container"></div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>