@media screen and (max-width: 1100px) {
    .controls-left {
        width: 30%;
    }

    .controls-right {
        display: none;
    }

    .np-container {
        flex-direction: row-reverse;
    }
    
    .controls-middle {
        width: 70%;
    }
}

@media screen and (max-width: 945px) {
    .controls-left {
        transform: scale(0.75);
    }
}

@media screen and (max-width: 710px) {
    .sidebar {
        transform: translateX(-240px);
        z-index: 4;
        -webkit-backdrop-filter: saturate(50%) blur(20px);
        backdrop-filter: saturate(50%) blur(20px);
    }

    body {
        -webkit-overflow-scrolling: touch;
        overflow: hidden;
    }

    .np-top {
        bottom: 0;
        width: 100% !important;
        margin-left: 0px !important;
        border-bottom: none;
        border-top: solid 2px var(--bd);
        box-shadow: 0px -1px 5px rgba(0, 0, 0, .15);
        height: 65px;
        z-index: 5;
        transition: 0.5s;
        transition-timing-function: cubic-bezier(0.25, 1.1, 0.35, 1.02);
        overflow: hidden;
    }

    .np-container {
        height: 100%;
        flex-direction: column-reverse;
        display: none;
        transition: .25s;
    }

    .controls-left {
        height: 30%;
        align-items: flex-start;
        justify-content: center;
        z-index: 2;
        transform: scale(1);
        padding-top: 15px;
        visibility: visible;
    }

    .media-controls i {
        font-size: 65px;
    }

    .media-controls i.small-icon {
        font-size: 32px;
    }

    .controls-middle {
        width: 100%;
        height: 100%;
        background: none;
        flex-direction: column;
        justify-content: space-between;
        overflow: unset;
    }

    .np-img {
        min-height: 60%;
        min-width: 90%;
    }

    .np-ctrls {
        height: auto;
        padding-top: 20px;
        width: 100%;
    }

    .np-ctrl.metadata {
        padding-left: 0px;
        padding-bottom: 5px;
        flex-direction: column;
    }

    .np-ctrl.metadata p {
        font-size: 22px;
        overflow: hidden;
        max-width: 90%;
    }

    .song-artist {
        font-size: 16px !important;
    }

    .seek-container {
        padding-bottom: 0px;
    }

    .np-ctrl.seek {
        width: 80%;
        padding: 25px;
    }

    .seek-bar, .fill {
        height: 6px;
    }

    .handle-hover {
        height: 10px !important;
        width: 10px !important;
    }

    .main-ui {
        width: 100% !important;
        height: 100% !important;
        padding: 0px;
        padding-bottom: 65px;
        padding-top: 62px;
    }

    .list-album, .list-duration {
        display: none !important;
    }

    .results-link {
        height: 60px !important;
    }

    .play-pause {
        display: none !important;
    }

    .artist-title-album {
        align-items: unset;
        flex-direction: column;
        justify-content: center;
        padding-left: 25px;
    }

    .list-title {
        margin-left: 0;
        width: auto;
        padding-top: 0px;
        padding-bottom: 0;
        font-size: 16px;
    }

    .list-artist {
        width: auto;
        padding-top: 6px;
        padding-bottom: 0px;
        padding-right: 0px;
        margin: 0;
        opacity: .7;
    }

    .list-section {
        display: none;
    }

    .np-mobile-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0px 15px;
        transition: .25s;
    }

    .np-mobile-btn {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .np-mobile-btn i {
        font-size: 28px;
    }

    .np-mobile-metadata {
        width: 80%;
        padding: 0px 15px;
    }

    .np-mobile-metadata .song-title {
        margin: 0px;
        margin-bottom: 5px;
    }

    .np-mobile-metadata .song-artist {
        margin: 0px;
        margin-top: 5px;
        opacity: 0.75;
        font-size: 14px !important;
    }

    .mobile-top-bar {
        width: 100%;
        height: 60px;
        position: fixed;
        background: var(--fg-bg-op);
        -webkit-backdrop-filter: saturate(50%) blur(20px);
        backdrop-filter: saturate(50%) blur(20px);
        z-index: 3;
        border-bottom: solid 2px var(--bd);
        box-shadow: 0px 1px 5px rgba(0,0,0,.15);
        display: flex;
        align-items: center;
    }

    .top-title {
        padding: 30px 25px;
    }

    .mobile-top-bar i {
        padding: 15px;
        touch-action: manipulation;
    }

    .np-top.expand {
        height: 100% !important;
    }

    .mobile-top-btns {
        height: 60px;
        min-height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-top-btns .np-mobile-btn {
        width: 20%;
    }

    .mobile-top-btns p {
        width: 60%;
        text-align: center;
    }
}