<!DOCTYPE html>
<html class="dark firetail">
    <head>
        <title>400</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/material/material-icons.css" rel="stylesheet">
        <link href="/app.css" rel="stylesheet">
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            h1 {
                font-size: 48px
            }
            a {
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <h1>400</h1>
        <p>A bad request occurred and the server cannot process it. Please make sure your request is valid and try again.</p>
        <a href="/">
            <div class="button">
                <i class="material-icons-outlined">arrow_back</i>
                <span>Return to Firetail Web</span>
            </div>
        </a>
    </body>
</html>